Given the triangle of consecutive odd numbers:

             1
          3     5
       7     9    11
    13    15    17    19
` 21    23    25    27    29`
...

Calculate the row sums of this triangle from the row index (starting at index 1) e.g.:

row_sum_odd_numbers(1); # 1
row_sum_odd_numbers(2); # 3 + 5 = 8

In [72]:
def row_sum_odd_numbers(n):
    li=[]
    k=1
    for i in range(1,n+1):
        x=[]
        for j in range(i):
            x.append(k)
            k+=2
        li.append(x)
    return sum(li[-1])

row_sum_odd_numbers(13)

2197

In [73]:
row_sum_odd_numbers(41)#, 68921)

68921

In [74]:
row_sum_odd_numbers(19)#, 6859)

6859

In [75]:
row_sum_odd_numbers(13)#, 2197)

2197